<aside class="sidebar">
  <!-- LOGO -->

  <div class="sidebar-logo">
    <img src="../assets/images/logo_white.png" alt="Koravo" />
  </div>

  <!-- WORKSPACE -->

  <div class="sidebar-workspace">
    <small>Workspace</small>

    <button class="workspace-card">
      <div>
        <strong>Koravo Personal</strong>

        <span>Professional Plan</span>
      </div>

      <i class="fa-solid fa-chevron-down"></i>
    </button>
  </div>

  <!-- MENU -->

  <nav class="sidebar-menu">
    <p class="menu-label">MAIN</p>

    <a href="dashboard.html" class="active">
      <i class="fa-solid fa-house"></i>

      <span>Dashboard</span>
    </a>

    <p class="menu-label">MY CONTENT</p>

    <a href="library.html">
      <i class="fa-solid fa-book"></i>

      <span>My Library</span>

      <b>152</b>
    </a>

    <a href="downloads.html">
      <i class="fa-solid fa-download"></i>

      <span>Downloads</span>

      <b>842</b>
    </a>

    <a href="wishlist.html">
      <i class="fa-solid fa-heart"></i>

      <span>Wishlist</span>

      <b>18</b>
    </a>

    <a href="collections.html">
      <i class="fa-solid fa-folder-open"></i>

      <span>Collections</span>

      <b>12</b>
    </a>

    <p class="menu-label">MY SERVICES</p>

    <a href="applications.html">
      <i class="fa-solid fa-rocket"></i>

      <span>Applications</span>

      <b>5</b>
    </a>

    <a href="subscriptions.html">
      <i class="fa-solid fa-credit-card"></i>

      <span>Subscriptions</span>

      <b>2</b>
    </a>

    <a href="orders.html">
      <i class="fa-solid fa-box"></i>

      <span>Orders</span>
    </a>

    <a href="billing.html">
      <i class="fa-solid fa-file-invoice"></i>

      <span>Billing</span>
    </a>

    <p class="menu-label">ACCOUNT</p>

    <a href="profile.html">
      <i class="fa-solid fa-user"></i>

      <span>Profile</span>
    </a>

    <a href="settings.html">
      <i class="fa-solid fa-gear"></i>

      <span>Settings</span>
    </a>

    <a href="#">
      <i class="fa-solid fa-circle-question"></i>

      <span>Help Center</span>
    </a>
  </nav>

  <!-- STORAGE -->

  <div class="sidebar-storage">
    <div class="storage-title">Storage</div>

    <div class="storage-bar">
      <div class="storage-progress"></div>
    </div>

    <div class="storage-info">
      <span>6.8 GB</span>

      <span>10 GB</span>
    </div>

    <button class="btn-upgrade">Upgrade Plan</button>
  </div>

  <!-- PROFILE -->

  <div class="sidebar-user">
    <img src="../assets/images/avatar1.png" />

    <div>
      <strong>Zack</strong>

      <span>Professional</span>
    </div>

    <button>
      <i class="fa-solid fa-right-from-bracket"></i>
    </button>
  </div>
</aside>
